@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Roboto Medium";
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
}

* {
    box-sizing: border-box;
}

.fix-size {
    width: 1087px;
    margin: 0 auto;
}

.about_font {
    background-color: #f9f9f9;
}

.header {
    padding: 79px;
}

.head_h1 {
    font-family: "Roboto";
    width: 541px;
    height: 45px;
    font-size: 48px;
    line-height: 140%;
    margin-top: 162px;
    color: #000000;
}

.head_text {

    width: 540px;
    text-align: left;
    margin-top: 60px;
}

.navigation li {
    display: inline-block;
    margin-right: 42px;
    width: 100px;
}

.navigation a {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

a.active {
    color: #500e0a;
}

.button {
    font-family: "Roboto";
    font-size: 16px;
    width: 228px;
    height: 62px;
    border: none;
    line-height: 140%;
    text-align: center;
    border-radius: 7px;
    margin-top: 65px;
    color: #ffffff;
}

.inline {
    display: inline-block;
}

.main {
    background: #ebebeb;
}

.about_box {
    width: 540px;
    height: 30;
    padding-top: 112px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
}

.text {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 140%;
    color: #727272;
}

.h2_text {
    margin-bottom: 50px;
    font-family: "Roboto Medium";
    font-size: 32px;
    line-height: 100%;
    color: #000000;
}

.main_text {
    height: 67px;
    width: 540px;
}

.background_red {
    background: #500e0a;
}

.proj_box {
    height: 250px;
}

.proj_container {
    width: 145px;
    height: 60px;
    display: inline-block;
    margin-top: 100px;
    margin-right: 31px;
}

.Img {
    width: 50px;
    height: 50px;
}

.box40 {
    width: 71px;
    display: inline-block;
    height: 45px;
    margin-left: 20px;
}

h3 {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 21px;
    padding-bottom: 10px;
    line-height: 100%;
}

.ppp {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
}

.media {
    width: 1100px;
    height: 600px;
    display: inline-block;
    margin-bottom: 100px;
}

.footer {
    padding: 50px;
}

.footer_h3 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}

.footer_mini {
    font-family: "Roboto";
    font-size: 13px;
    line-height: 21px;
    color: white;
}
